.footer {
  .backToTopBtn {
    height: 46px;
    background-color: #3a4352;
    color: var(--bg-light);
    cursor: pointer;

    p {
      font-size: 14px;
    }
  }

  .footerContent {
    background-color: var(--bg-dark-blue);
    padding: 40px 180px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border-bottom: 2px solid #d4d8de;

    ul {
        gap: 5px;
        p {
            color: white;
            font-weight: bold;
            margin-bottom: 5px;
        }

        li {
            a {
                color: #CBD5E1;
                text-decoration: none;
                font-size: 14px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
  }

  .footerBottom {
    height: 75px;
    padding: 10px;
    background-color: var(--bg-dark-blue);
    gap: 10px;
    .logo {
      width: 116px;
      height: 57px;
    }
    .infoWrapper {
      gap: 10px;
      .infoItem {
        color: #CBD5E1;
        width: fit-content;
        height: 35px;
        padding: 5px;
        margin: 2px;
        border: 1px solid #d4d8de;
        border-radius: 3px;
        gap: 4px;
        cursor: pointer;
      }

      .currency {
        .currencyIcon {
          font-size: 18px;
          color: white;
        }
      }

      .country {
        .usaFlag {
          width: 22px;
        }
      }
    }
  }
}
